<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="mavensampleproject.Selenium3Test"/>
      <class name="mavensampleproject.Selenium2Test"/> 
      <!-- <class name="mavensampleproject.SeleniumTest"/>  -->     
    </classes>
  </test> <!-- Test --> 
</suite> <!-- Suite --> 
